<header class="header">

  <div class="container">

    <h1 class="logotipo">
      <a href="{{ "/" | prepend: site.baseurl }}">nandomoreira<span>.me</span></a>
    </h1>

    <button class="hamburger" role="button">
      <a href="#" class="menu-toggle">
        <span>Open menu</span>
      </a>
    </button>

    <nav class="navbar">
      <ul>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">Sobre mim</a></li>
        <li><a href="{{ "/blog" | prepend: site.baseurl }}">blog</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon-rss"></i></a></li>
      </ul>
    </nav>

  </div>

</header>
