
%clearfix,
.clearfix {
  @include clearfix;
}

.dot {
  border-radius: 50%;
}

.avatar {
  @extend .dot;
  padding: 2px;
  border: 1px solid rgba(get-color(white), .5);
  margin-bottom: get-spacing(small);

  opacity: 0;
  @include transform(translateY(-100%) rotate(-10deg));
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.25, .1, .25, 1);
  animation-name: translateTopIn;
  animation-duration: 1s;
  animation-delay: .2s;

  @include media(max-width $screen-tablet) {
    width: 100px;
    height: 100px;
  }
}

%after,
.after {
  position: relative;

  &::after {
    content: "";
    @include transition(all .2s $base-timing);
    @include transform(translateX(-50%));
    backface-visibility: hidden;
    position: absolute;
    height: 2px;
    width: 0;
    left: 50%;
    bottom: 0;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      width: 100%;
    }
  }
}
