

@include keyframes(translateTopIn) {
  from {
    opacity: 0;
    @include transform(translateY(-100%));
  }

  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(translateTopOut) {
  from {
    opacity: 1;
    @include transform(translateY(0));
  }

  to {
    opacity: 0;
    @include transform(translateY(-100%));
  }
}

@include keyframes(translateLeftIn) {
  from {
    opacity: 0;
    @include transform(translateX(-100%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0));
  }
}

@include keyframes(translateLeftOut) {
  from {
    opacity: 1;
    @include transform(translateX(0));
  }

  to {
    opacity: 0;
    @include transform(translateX(-100%));
  }
}

@include keyframes(translateRightIn) {
  from {
    opacity: 0;
    @include transform(translateX(100%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0));
  }
}

@include keyframes(translateRightOut) {
  from {
    opacity: 1;
    @include transform(translateX(0));
  }

  to {
    opacity: 0;
    @include transform(translateX(100%));
  }
}
