body.home {
  width: 100%;
  display: table;

  .wrapper {
    background-color: darken($secondary-color, 2%);
    display: table-cell;
    vertical-align: middle;
    padding: 0;
  }
}

.author-thumb {
  padding: 3px;
  border: 1px solid rgba($white-color, .3);
  @include transition(all .4s $base-timing);

  &:hover,
  &:focus {
    @include transform(scale(.9) rotate(-5deg));
  }
}

.svg-pattern {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }

  .polygon {
    @include transition(transform 300ms ease-in-out, opacity 300ms ease-in-out);
    @include transform(scale(1));
    @include transform-origin(center bottom);
    fill: transparent;
  }
}

.hero-inner {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: $small-spacing $base-spacing 0;

  @include media($screen-tablet) {
    padding: 0 $base-spacing;
  }

  h1,
  .author-thumb,
  .social,
  .button-ghost {
    opacity: 0;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 10;

    @include animation-delay(.4s);
  }

  h1 {
    position: relative;
    font-family: $font-family-base;
    color: rgba($white-color, .5);
    margin-top: $small-spacing / 2;
    margin-bottom: $small-spacing;
    padding-bottom: $small-spacing;
    font-weight: 300;
    text-transform: none;

    @include font-size(26px);
    @include animation-duration(.6s);
    @include animation-name(bounce-right);

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 50px;
      left: 50%;
      margin-left: -25px;
      height: 2px;
      background-color: rgba($white-color, .6);
    }

    strong {
      display: block;

      @include font-size(30px);

      line-height: 1.65;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -1px;

      @include media($screen-tablet) {
        @include font-size(56px);

        letter-spacing: -2px;
        line-height: 1.35;
      }


      @include media($screen-desktop) {
        @include font-size(72px);
      }


      @include media($screen-large-desktop) {
        @include font-size(86px);
      }
    }

    strong, em {
      color: $white-color;
    }

    @include media($screen-tablet) {
      @include font-size(34px);
    }


    @include media($screen-desktop) {
      @include font-size(36px);
    }
  }

  .social {
    @include animation-name(bounce-left);
  }

  .author-thumb,
  .button-ghost {
    @include animation-duration(1s);
    @include animation-name(bounce-rotate);
  }

  .button-ghost {
    margin: .5em 0;
    width: 100%;
    display: block;

    @include media($screen-phone) {
      margin: 0 .2em;
      width: auto;
      display: inline-block;
    }
  }

  .button-ghost:first-child {
    @include animation-delay(.4s);
  }
}

.hero {
  position: relative;
  z-index: 10;

  h1 {

    &:hover {
    }
  }
}
