.button {
  appearance: none;
  background-color: get-color(primary, base);
  border: 1px solid get-color(primary, dark);
  border-radius: $base-border-radius;
  color: get-color(white);
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  @include font-size();
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-medium;
  line-height: 1;
  padding: get-spacing(small) get-spacing(base);
  text-decoration: none;
  @include transition(background-color $base-duration $base-timing, border-color $base-duration $base-timing, transform $base-duration $base-timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade(get-color(primary, base), 20%);
    color: get-color(white);
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &.ghost {
    background-color: transparent;
    border-color: rgba(get-color(white), .5);

    &:hover,
    &:focus {
      background-color: rgba(get-color(white), .1);
      border-color: rgba(get-color(white), .6);
    }
  }

  @include attention() {
    outline: none;
  }

  &:active {
    @include transform(scale(.9));
  }
}

.button-secondary {
  @extend .button;
  background-color: get-color(secondary, base);
  border: 1px solid get-color(secondary, dark);

  &:hover,
  &:focus {
    background-color: shade(get-color(secondary, base), 20%);
    color: get-color(white);
  }
}

.social a,
.hamburger,
a.button {
  @include attention() {
    &::after {
      display: none;
    }
  }
}
