$icomoon-font-path: "/assets/fonts" !default;

$icon-tag: "\e900";
$icon-tags: "\e901";
$icon-search: "\e902";
$icon-github-outline: "\e903";
$icon-social-github: "\e904";
$icon-linkedin-outline: "\e905";
$icon-social-linkedin: "\e906";
$icon-rss-outline: "\e907";
$icon-rss: "\e908";
$icon-twitter-outline: "\e909";
$icon-social-twitter: "\e90a";
$icon-github: "\e90b";
$icon-linkedin: "\e90c";
$icon-twitter: "\e90d";

@font-face {
  font-family: 'nandoicon';
  src: url('#{$icomoon-font-path}/nandoicon.ttf?dggenr') format('truetype'),
       url('#{$icomoon-font-path}/nandoicon.woff?dggenr') format('woff'),
       url('#{$icomoon-font-path}/nandoicon.svg?dggenr#nandoicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%font-icon,
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'nandoicon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tag {
  &:before {
    content: $icon-tag;
  }
}
.icon-tags {
  &:before {
    content: $icon-tags;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-github-outline {
  &:before {
    content: $icon-github-outline;
  }
}
.icon-social-github {
  &:before {
    content: $icon-social-github;
  }
}
.icon-linkedin-outline {
  &:before {
    content: $icon-linkedin-outline;
  }
}
.icon-social-linkedin {
  &:before {
    content: $icon-social-linkedin;
  }
}
.icon-rss-outline {
  &:before {
    content: $icon-rss-outline;
  }
}
.icon-rss {
  &:before {
    content: $icon-rss;
  }
}
.icon-twitter-outline {
  &:before {
    content: $icon-twitter-outline;
  }
}
.icon-social-twitter {
  &:before {
    content: $icon-social-twitter;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
