
$input-border: 1px solid get-color(border);

.input-form {
  background-color: get-color(white);
  border: $input-border;
  border-radius: $base-border-radius;
  box-shadow: none;
  box-sizing: border-box;
  font-family: $base-font-family;
  @include font-size();
  margin-bottom: get-spacing(small);
  padding: get-spacing(base) / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade(get-color(border), 20%);
  }

  &:focus {
    border-color: get-color(primary, base);
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: shade(get-color(white), 5%);
    cursor: not-allowed;

    &:hover {
      border: $input-border;
    }
  }
}
