
<header class="header">
  <div class="header-inn">
    <h1 class="logo">
      <span>
        <%= link_to 'Fernando Moreira', local_path('') %>
        <small><%= t(:front_dev) %></small>
      </span>
    </h1>

    <nav class="social-nav">
      <%= partial "partials/social" %>
    </nav>

    <% link_to local_path('') do %>
      <%= image_tag 'avatar.jpg', :class => 'avatar' %>
    <% end %>
  </div>
</header>
