
<header class="header">
  <div class="container-inn">
    <h1 class="logo">
      <% link_to local_path("") do %>
        <%= image_tag 'avatar.jpg', :class => 'avatar' %>
      <% end %>
      <span>
        Fernando Moreira
        <small><%= t(:front_dev) %></small>
      </span>
    </h1>

    <a href="#" role="button" class="toggle-navbar" data-toggle="nav">
      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 512 512"><path d="M80 96a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H80zm0 128a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H80zm0 128a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H80z" fill="#fff" class="menu-path"/></svg>
    </a>
  </div>
</header>

