<hr>

<h3 id="my-skills">My skills</h3>

<h5>Front-end development</h5>

<ul>
  <li>HTML/HTML5</li>
  <li>CSS/CSS3</li>
  <li>Javascript</li>
</ul>

<h5>Tools and front-end methodologies</h5>

<ul>
  <li>Template engine (Liquid, Jade, Erb, Slim, Twig)</li>
  <li>CSS pré-processors (SASS, Stylus, Less)</li>
  <li>CSS frameworks (Bootstrap, Foundation, and others)</li>
  <li>Responsive web design (Mobile First)</li>
  <li>Front-end methodologies (Atomic design, BEM CSS and others)</li>
  <li>Static generators (Jekyll, Octopress, Hexo, Middleman, Docpad)</li>
  <li>Libraries and frameworks JS (jQuery and AngularJS)</li>
  <li>JS task runners (Gulp and Grunt)</li>
  <li>Generators (Yeoman and SlushJS)</li>
  <li>Dependency management (Bower, npm and Ruby gems)</li>
</ul>

<h5>Versioning projects</h5>

<ul>
  <li>Git</li>
  <li>GitHub</li>
  <li>Bitbucket</li>
  <li>Gitlab</li>
</ul>

<h5>Backend development and data base</h5>

<ul>
  <li>PHP/PHP5</li>
  <li>PHP frameworks (CodeIgniter, Laravel, Symfony)</li>
  <li>PHP CMS (WordPress, Joomla!, Magento, Drupal, etc)</li>
  <li>MySQL, PostgreSQL and MongoDB (basic)</li>
  <li>NodeJS (basic)</li>
  <li>Ruby and Rails (basic)</li>
</ul>

<h5>Agile development and testing</h5>

<ul>
  <li>Scrum</li>
  <li>Kanban</li>
  <li>TDD and BDD (basic)</li>
</ul>

<h5>Operating system</h5>

<ul>
  <li>Unix commands</li>
  <li>Linux (Debian, CentOS, Ubuntu, Mint, ElementaryOS and others)</li>
  <li>Windows</li>
  <li>MacOS</li>
</ul>
