<h3 id="minhas-habilidades">Minhas Habilidades</h3>

<h5>Desenvolvimento Front-end</h5>

<ul>
  <li>HTML/HTML5</li>
  <li>CSS/CSS3</li>
  <li>Javascript</li>
</ul>

<h5>Ferramentas e metodologias Front-end</h5>

<ul>
  <li>Template Engine (Liquid, Jade, Erb, Slim, Twig)</li>
  <li>Pré-processadores de CSS (SASS, Stylus, Less)</li>
  <li>CSS Frameworks (Bootstrap, Foundation, e outros)</li>
  <li>Design Responsivo (Mobile First)</li>
  <li>Metodologias de Front-end (Atomic design, BEM CSS e outros)</li>
  <li>Static Generators (Jekyll, Octopress, Hexo, Middleman, Docpad)</li>
  <li>Bibliotecas e Frameworks JS (jQuery e AngularJS)</li>
  <li>JS Task Runners (Gulp e Grunt)</li>
  <li>Generators (Yeoman e SlushJS)</li>
  <li>Gerenciamento de dependências (Bower, npm e Ruby gems)</li>
</ul>

<h5>Versionamento de projetos</h5>

<ul>
  <li>Git</li>
  <li>GitHub</li>
  <li>Bitbucket</li>
  <li>Gitlab</li>
</ul>

<h5>Desenvolvimento Back-end e Banco de dados</h5>

<ul>
  <li>PHP/PHP5</li>
  <li>PHP Frameworks (CodeIgniter, Laravel, Symfony)</li>
  <li>PHP CMS (WordPress, Joomla!, Magento, Drupal, etc)</li>
  <li>MySQL, PostgreSQL e MongoDB (Básico)</li>
  <li>NodeJS (básico)</li>
  <li>Ruby e Rails (básico)</li>
</ul>

<h5>Desenvolvimento Ágil e Testes</h5>

<ul>
  <li>Scrum</li>
  <li>Kanban</li>
  <li>TDD e BDD (básico)</li>
</ul>

<h5>Sistema Operacionais</h5>

<ul>
  <li>Unix commands</li>
  <li>Linux (Debian, CentOS, Ubuntu, Mint, ElementaryOS e outros)</li>
  <li>Windows</li>
  <li>MacOS</li>
</ul>
