<hr>

<h3>Minhas habilidades</h3>

<h5>Desenvolvimento front-end</h5>

<ul>
  <li>HTML/HTML5</li>
  <li>CSS/CSS3</li>
  <li>Javascript</li>
</ul>

<h5>Ferramentas e metodologias front-end</h5>

<ul>
  <li>Template engine (Liquid, Jade, Erb, Slim, Twig)</li>
  <li>Pré-processadores de CSS (SASS, Stylus, Less)</li>
  <li>CSS frameworks (Bootstrap, Foundation, e outros)</li>
  <li>Design responsivo (Mobile First)</li>
  <li>Metodologias de front-end (Atomic design, BEM CSS e outros)</li>
  <li>Static generators (Jekyll, Octopress, Hexo, Middleman, Docpad)</li>
  <li>Bibliotecas e frameworks JS (jQuery e AngularJS)</li>
  <li>JS task runners (Gulp e Grunt)</li>
  <li>Generators (Yeoman e SlushJS)</li>
  <li>Gerenciamento de dependências (Bower, npm e Ruby gems)</li>
</ul>

<h5>Versionamento de projetos</h5>

<ul>
  <li>Git</li>
  <li>GitHub</li>
  <li>Bitbucket</li>
  <li>Gitlab</li>
</ul>

<h5>Desenvolvimento back-end e banco de dados</h5>

<ul>
  <li>PHP/PHP5</li>
  <li>PHP frameworks (CodeIgniter, Laravel, Symfony)</li>
  <li>PHP CMS (WordPress, Joomla!, Magento, Drupal, etc)</li>
  <li>MySQL, PostgreSQL e MongoDB (Básico)</li>
  <li>NodeJS (básico)</li>
  <li>Ruby e Rails (básico)</li>
</ul>

<h5>Desenvolvimento ágil e testes</h5>

<ul>
  <li>Scrum</li>
  <li>Kanban</li>
  <li>TDD e BDD (básico)</li>
</ul>

<h5>Sistema operacionais</h5>

<ul>
  <li>Unix commands</li>
  <li>Linux (Debian, CentOS, Ubuntu, Mint, ElementaryOS e outros)</li>
  <li>Windows</li>
  <li>MacOS</li>
</ul>
