---
title: About me
layout: pages
---

<h3>Who am I?</h3>

<p>Hello! I'm <strong>Fernando Moreira</strong> (as you can see the name of my site). I live in Curitiba, I'm Front-end developer in <a href="http://pipefy.com">@pipefy</a> and love everything related to web, I'm obsessed with <em>performance</em> and agile development, I like readable coding, semantic and reusable.</p>

<p>Today I'm specializing in web development using <a href="http://br.wordpress.org/">Wordpress</a> with focus in front-end I always take care of usability and performance of a website.</p>

<%= partial "partials/skills-en" %>

<p>For contact me, please send an email to <em itemprop="email"><a href="mailto:nandomoreira.me@gmail.com">nandomoreira.me[at]gmail.com</a></em> or search me in my social networks.</p>
