---
title: Sobre mim
layout: pages
body_class: page-about
---

<p>Olá! Eu sou <strong>Fernando Moreira</strong> (como você pôde ver no titulo do site). Moro em Curitiba, sou Front-end developer na <a href="http://pipefy.com">@pipefy</a> e amo tudo relacionado a web, sou obcecado por <em>performance</em> e desenvolvimento ágil. Eu gosto de códigos legível, semântico e reutilizável.</p>

<p>Hoje sou especializado em desenvolvimento web usando <a href="http://br.wordpress.org/">Wordpress</a> com foco em front-end eu sempre cuido da usabilidade e performance de um site.</p>

<%= partial "partials/skills" %>

<p>Para entrar em contato comigo basta enviar um email para <em itemprop="email"><a href="mailto:nandomoreira.me@gmail.com">nandomoreira.me[at]gmail.com</a></em> ou me procurar em uma das minhas redes sociais.</p>
