---
title: About me
layout: pages
body_class: page-about
---

<div itemscope="" itemtype="http://schema.org/Person">
  <p>Meu nome é <strong itemprop="name">Fernando Moreira Costa</strong>, tenho <strong><%= (Time.now.year - 1989) %> anos</strong>. Nasci e cresci em uma cidadezinha do interior de <strong>Rondônia</strong> chamada <strong>Ariquemes</strong>, sai de lá com 18 anos para me aventurar em <strong itemprop="addressLocality">Curitiba</strong>/<span itemprop="addressRegion">PR</span> onde moro atualmente. Sou <strong>casado</strong>, tenho um cachorro chamado <strong>Ted</strong>, e não tenho filhos.</p>

  <p>Eu comecei a "brincar" com códigos em meados de 2009 e trabalhar profissionalmente em uma agência de criação e desenvolvimento web no ano de 2010.</p>

  <p>Em 2010 comecei o curso de web design na <strong><a href="http://microcampcuritiba.com.br/" target="_blank">Microcamp Curitiba</a></strong> e finalizei em 2012, nesta mesma época conclui o curso <strong>técnico em informática</strong> com ênfase em programação no <strong>Colégio Estadual do Paraná (CEP)</strong>.</p>

  <p>Hoje sou especializado em desenvolvimento web usando <a href="http://br.wordpress.org/" target="_blank"><strong>Wordpress</strong></a> com foco em front-end eu sempre cuido da usabilidade e performance de um site.</p>

  <p>Atualmente estou cursando <strong><a href="http://www.ctpositivo.edu.br/cursos-de-tecnologia/sistemas-para-internet" target="_blank">Tecnologia em Sistemas para Internet</a></strong> no <strong><a target="_blank" href="http://www.ctpositivo.edu.br/">CT Positivo</a></strong>, trabalho na <strong><a href="http://pipefy.com" target="_blank">Pipefy</a></strong> como desenvolvedor <strong><em itemprop="jobTitle">Front-end</em></strong>, nos tempos livres contribuo com algumas comunidades no meu <strong><a href="https://github.com/nandomoreirame" target="_blank">Github</a></strong> e sou um dos organizadores do encontro <strong><a href="https://www.facebook.com/FEMUG.CWB/" target="_blank"><abbr title="Front-end Meetup Group CWB">FEMUG-CWB</abbr></a></strong> e da comunidade <strong><a href="https://www.facebook.com/groups/jekyllbrasil/" target="_blank">Jekyll Brasil</a></strong>.</p>

  <%= partial "partials/skills" %>
</div>

<hr />

<p>E por fim, para entrar em contato comigo basta enviar um e-mail para <em itemprop="email"><a href="mailto:nandomoreira.me@gmail.com">nandomoreira.me[at]gmail.com</a></em> ou me procurar em uma das minhas redes sociais.</p>
