---
layout: default
---

<div class="container-full">

  {% include header.html %}

  <article class="post post-page">

    <header class="post-header header-single" data-effect="parallax">
      <div class="container-inn parallax">
        {% if page.slug == "about" %}
          {% img avatar.jpg alt:'{{ site.author }}' class:'avatar' %}
        {% endif %}
        <h1 class="post-title"><strong>{{ page.title }}</strong>{% if page.description %} <small>{{ page.description }}</small>{% endif %}</h1>
      </div>
    </header>

    <div class="post-content container-inn">
      {{ content }}
    </div>

  </article>

  {% include footer.html %}

</div>
