---
layout: default
---

<div class="container-full">

  {% include header.html %}

  <article class="post post-single" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header header-single">
      <div class="container-inn">
        <span class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</span>
        <h1 class="post-title">{{ page.title }}{% if page.description %} <small>{{ page.description }}</small>{% endif %}</h1>
      </div>
    </header>

    <div class="post-content container-inn" itemprop="articleBody">
      {{ content }}
    </div>

  </article>

  {% include footer.html %}

</div>
