
.header
  padding: 0
  background: darken(get-color(background), 3%) url("/assets/images/header-background.jpg") 50%
  background-size: cover
  margin-bottom: get-spacing(big)
  +clearfix()

  .avatar
    +size(100px)
    +position(absolute, null null -50px 50%)
    border: none
    margin-left: -50px
    padding: 3px

  &-inn
    position: relative
    background-color: rgba(get-color(black), .4)
    padding: get-spacing(base) 0 get-spacing(large)

    +media($screen-large-phone)
      padding: get-spacing(large) 0

  .social-nav
    padding: 5px 0 0
    text-align: center
    +clearfix()

    svg
      +size(38px)

    a
      color: get-color(white)

  +media($screen-large-phone)
    .social-nav
      padding: get-spacing(base) 0 0

      svg
        +size(26px)

.logo
  text-align: center
  border-bottom: 0
  font-size: get-font-size(26)
  text-transform: uppercase
  margin: 0

  a
    color: get-color(white)

  span
    letter-spacing: $heading-letter-spacing
    line-height: 1.6

  small
    display: block
    color: rgba(get-color(white), .7)
    font-weight: $font-weight-light
    letter-spacing: $medium-letter-spacing
    text-transform: none

  span,
  small
    display: block
    +media(max-width $screen-large-phone)
      display: none

.toggle-nav
  float: right
  display: block
  padding: 15px 10px 10px
  opacity: .8
  transition: opacity .2s ease-in-out
  +position(absolute, 25px 35px null null)
  z-index: 100

  &:hover,
  &:focus
    opacity: 1
