
.header
  padding: 0
  background: darken(get-color(background), 5%)
  +clearfix()

  &-inn
    padding: get-spacing(base) 0

  .social-nav
    padding: get-spacing(base) 0 0
    text-align: center
    +clearfix()

    svg
      +size(26px)

    a
      color: get-color(text)

    path
      fill: get-color(text)
      opacity: .5

.logo
  text-align: center
  border-bottom: 0
  font-size: get-font-size(24)
  text-transform: uppercase
  margin: 0

  span
    letter-spacing: $heading-letter-spacing

  small
    display: block
    font-weight: $font-weight-light
    letter-spacing: $medium-letter-spacing
    text-transform: none

  .avatar
    +size(100px)
    border-color: rgba(get-color(text), .3)
    margin-bottom: get-spacing(mini)
    padding: 3px

  span,
  small
    display: block
    +media(max-width $screen-large-phone)
      display: none

.toggle-navbar
  float: right
  display: block
  padding: 15px 10px 10px
  opacity: .8
  transition: opacity .2s ease-in-out
  +position(absolute, 25px 35px null null)

  path
    fill: get-color(text)

  &:hover,
  &:focus
    opacity: 1
