
body.home-hero
  background-color: get-color(primary, base)
  padding: get-spacing(mini)

  +media($screen-tablet)
    padding: get-spacing(small)

  +media($screen-large-tablet)
    overflow: hidden
    padding: get-spacing(medium)

.hero
  width: 100%
  text-align: center
  margin-bottom: get-spacing(mini)
  +clearfix

  +media($screen-tablet)
    margin-bottom: get-spacing(small)

  +media($screen-large-tablet)
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: get-spacing(base)

  h1,
  &-actions,
  &-avatar,
  .social,
  .translate
    animation-fill-mode: forwards
    animation-timing-function: cubic-bezier(.25, .1, .25, 1)
    +transform(translateZ(0))
    +backface-visibility(hidden)

  &-inner
    max-width: $screen-large-tablet

    +media(max-width $screen-large-tablet)
      padding: get-spacing(small)

  &-avatar
    @extend .avatar
    opacity: 0
    transform: translateY(-100%) rotate(-15deg)
    animation-name: translateTopInRotate
    animation-duration: .9s
    animation-delay: .15s
    border-color: rgba(get-color(white), .5)

  &-actions,
  &-avatar
    margin: get-spacing(small) 0

  a
    color: rgba(get-color(white), .75)
    transition: color .2s ease-in-out

    +attention(false)
      color: get-color(white)

  &-actions
    opacity: 0
    transform: translateY(100%)
    animation-name: translateBottomIn
    animation-duration: 600ms
    animation-delay: 1.2s
    margin-top: get-spacing(base)

  &-button
    @extend .button
    border-radius: 150px
    margin: 0 (get-spacing(mini) / 2)
    text-transform: uppercase
    border: 1px solid get-color(white)

  h1,
  .social,
  .translate
    opacity: 0
    transform: translateY(10%)
    animation-name: animateFadeIn

  .translate
    animation-duration: 900ms
    animation-delay: 2s

  h1
    animation-duration: 900ms
    animation-delay: .5s
    color: get-color(white)
    letter-spacing: .035rem
    line-height: 1
    margin: 0
    padding: 0

    +media($screen-tablet)
      line-height: 1.6

    small
      opacity: .7
      font-family: $font-family-base
      font-weight: $font-weight-light
      font-size: get-font-size(20px)

      +media($screen-tablet)
        font-size: get-font-size(20px)


      +media($screen-large-tablet)
        font-size: get-font-size(32px)

    strong
      display: block
      margin: get-spacing(small) 0
      text-transform: uppercase
      letter-spacing: .1em
      font-size: get-font-size(22px)

      +media($screen-large-phone)
        letter-spacing: .2em
        font-size: get-font-size(38px)


      +media($screen-tablet)
        font-size: get-font-size(50px)


      +media($screen-large-tablet)
        font-size: get-font-size(75px)

      &::before,
      &::after
        opacity: .7
        content: ""
        display: block
        border: none
        background-color: get-color(white)
        width: 100%
        height: 2px
        +transition(opacity .2s ease-in-out)

      &:hover,
      &:focus
        &::before,
        &::after
          opacity: .75

  .social
    animation-duration: 800ms
    animation-delay: 1.8s
    margin: get-spacing(base) 0 0

    li
      padding-top: 0
      padding-bottom: 0


.translate
  display: block
  margin-top: get-spacing(mini)

  a
    color: get-color(white)
    display: inline-block
    padding: 0 5px
    position: relative

    &::before,
    &::after
      position: absolute
      transition: margin .2s ease-in-out
      margin: 0

    &::before
      content: "["
      margin-left: 0
      left: 0

    &::after
      content: "]"
      margin-right: 0
      right: 0

    &:hover::before
      margin-left: -7px

    &:hover::after
      margin-right: -7px

