fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: get-spacing(small) / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: get-spacing(small) / 2;
}

input,
select {
  display: block;
  font-family: $base-font-family;
  @include font-size();
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: get-spacing(small) / 2;
}

[type="file"] {
  margin-bottom: get-spacing(small);
  width: 100%;
}

select {
  margin-bottom: get-spacing(base);
  max-width: 100%;
  width: auto;
}
