ul,
ol {
  margin: 0;
  list-style-type: none;
  padding: 0 0 0 get-spacing(small);
}

dl {
  margin-bottom: get-spacing(small);

  dt {
    font-weight: 600;
    margin-top: get-spacing(small);
  }

  dd {
    margin: 0;
  }
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
