
$table-border: 1px solid get-color(border);

table {
  border-collapse: collapse;
  margin: get-spacing(small) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: $table-border;
  font-weight: 600;
  padding: get-spacing(small) 0;
  text-align: left;
}

td {
  border-bottom: $table-border;
  padding: get-spacing(small) 0;
}

tr,
td,
th {
  vertical-align: middle;
}
