
body.nav-open {
  overflow: hidden;
}

.header {
  @include position(fixed, 0 0 null 0);
  z-index: 10000;
  transition: background-color .1s linear;
  @extend %clearfix;
  padding-top: 30px;

  &.header-white {
    background-color: get-color(white);
    box-shadow: 0 1px 3px rgba(get-color(black), .1);
    padding-bottom: get-spacing(base);

    .logotipo a,
    .logotipo a span {
      color: get-color(primary, base);
    }

    .hamburger {
      .menu-toggle span,
      .menu-toggle:before,
      .menu-toggle:after {
        background-color: get-color(primary, base);
      }
    }
  }
}

.logotipo a,
.navbar a {
  display: inline-block;
  line-height: 40px;
  color: get-color(white);
}

.logotipo {
  text-transform: lowercase;
  @include font-size(20);
  font-weight: $font-weight-medium;
  float: left;
  margin: 0;

  span {
    font-weight: $font-weight-light;
    color: get-color(silver);
  }

  // @include media(max-width $screen-tablet) {
  //   line-height: 30px;

  //   a {
  //     line-height: 33px;
  //   }
  // }

  @include media(max-width $screen-phone) {
    span {
      display: none;
      visibility: hidden;
    }
  }
}

.navbar {
  opacity: 0;
  transform: translateY(-100%);
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.25, .1, .25, 1);
  @include position(fixed, 0 0 null 0);
  background-color: get-color(primary, base);
  padding: get-spacing(big) 0 0;
  z-index: 1000;

  display: flex;
  box-sizing: border-box;
  box-orient: horizontal;
  box-direction: normal;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.is-open {
    animation-name: navbarIn;
    animation-duration: .5s;
  }

  &.is-close {
    animation-name: navbarOut;
    animation-duration: .3s;
  }

  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    text-transform: lowercase;
    @include font-size(28);
    text-align: center;
    margin-left: get-spacing(base);
    display: inline-block;

    @include media(max-width $screen-tablet) {
      margin-left: 0;
      margin-bottom: get-spacing(small);

      &,
      a {
        width: 100%;
        display: block;
      }

      a {
        padding: get-spacing(mini) 0;
      }
    }
  }

  a {
    font-weight: $font-weight-light;
    padding: 0 get-spacing(mini);
  }
}

.hamburger {
  @include position(absolute, (get-spacing(base) + 10) get-spacing(base) auto auto);
  z-index: 10000;
  padding: 0;
  margin: 0;

  &,
  .menu-toggle {
    border: none;
    background: none;
  }

  .menu-toggle {
    width: 40px;
    height: 22px;
    display: block;
    position: relative;

    span {
      margin-top: -1px;
      text-indent: -9999em;
      top: 50%;
    }

    span,
    &:before,
    &:after {
      width: 40px;
      display: block;
      position: absolute;
      height: 2px;
      background: get-color(white);
      transition: transform .2s linear 0s, top .2s linear 0s, bottom .2s linear 0s, opacity .1s linear 0s;
    }

    &:before,
    &:after {
      content: "";
      left: 0;
      text-indent: -9999px;
      top: 2px;
      transform-origin: 50%;
      transform: translateX(0);
    }

    &:after {
      bottom: 2px;
      left: auto;
      right: 0;
      top: auto;
    }

    &:hover:before {
      top: 0;
    }

    &:hover:after {
      bottom: 0;
    }

    &.close {
      &:before,
      &:after {
        width: 40px;
        top: 10px;
      }

      &:before {
        transform: rotate(35deg);
      }

      span {
        opacity: 0;
      }

      &:after {
        transform: rotate(-35deg);
      }

      span,
      &:before,
      &:after {
        background: get-color(white) !important;
      }
    }
  }
}
