
.video-container {
  @extend %clearfix;
  margin: get-spacing(small) 0;
  text-align: right;
}

.video-responsive {
  margin: 0;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
  }
}
