// Typography
$base-font-family: "Raleway", Helvetica, Arial, sans-serif;
$heading-font-family: "Exo 2", $base-font-family;
$monospace-font-family: "courier new", monospace;

// Font Sizes
$inuit-font-size: 18px;

$palette: (
  white: #fff,
  black: #000,
  silver: #f9f2e7,
  border: #eaeaea,
  code: #ededed,
  warning: #aee239,
  error: #8fbe00,
  primary: (
    base: #567ebb,
    light: lighten(#567ebb, 15%),
    dark: darken(#567ebb, 15%),
    transp: transparentize(#567ebb, .5)
  ),
  secondary: (
    base: #2b4c7e,
    light: lighten(#2b4c7e, 15%),
    dark: darken(#2b4c7e, 15%),
    transp: transparentize(#2b4c7e, .5)
  ),
  gray: (
    base: #1f1f20,
    light: lighten(#1f1f20, 25%),
    dark: darken(#1f1f20, 10%),
    transp: transparentize(#1f1f20, .5)
  ),
  social: (
    facebook: #3b5998,
    twitter: #64a8f2,
    gplus: #e85c62,
    linkedin: #0077b5,
    github: #323131,
  )
);

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$spacings: (
  large: 80px,
  big: 60px,
  base: 30px,
  medium: 20px,
  small: 15px,
  mini: 10px,
);

$base-border-radius: 3px;
$base-z-index: 0;

// Animations
$base-duration: 150ms;
$base-timing: ease-in-out;

// responsive
$screen-phone: 320px;
$screen-large-phone: 375px;
$screen-tablet: 768px;
$screen-large-tablet: 1024px;
$screen-desktop: 1280px;
$screen-large-desktop: 1440px;

$max-width: $screen-large-tablet;
$default-feature: min-width;

