---
title: Whoops! Error 404
body_class: home-hero
layout: layout
---

<section class="hero error404">

  <div class="hero-inner">

    <h1>
      <strong>Error 404</strong>
      <small>Whoops! <br><small>We couldn't find the page you were looking for.</small></small>
    </h1>

    <nav class="hero-actions">
      <%= link_to('home', local_path(''), :class => "hero-button") %>
    </nav>

  </div>

</section>
