*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba($black-color, 0);
}

body {
  background-color: $base-background-color;
}

figure {
  margin: 0;
  padding: 0;
}

sup {
  font-size: .8em;
  position: relative;
  top: -.5em;
}

abbr {
  cursor: help;
}

.container,
.container-full {
  position: relative;
  padding: {
    left: $gutter;
    right: $gutter;
  };
}

.wrapper {
  position: relative;
  padding: $base-spacing 0;
  margin: 0 auto;

  -webkit-animation-delay: 1s;
  animation-delay: 1s;

  @include media($screen-tablet) {
    max-width: ($screen-tablet - 100px);
  }

  @include media($screen-desktop) {
    left: 10em;
    padding: ($base-spacing*2);
  }
}

.error404 .page-title {
  @include font-size(62px);
}

.cat-404 {
  margin: $base-spacing 0;
}

body {
  &.full-video {
    .wrapper {
      @include media($screen-desktop) {
        max-width: 80%;
      }
    }
  }

  &.no-sidebar,
  &.close-sidebar {
    .hanburg {
      background: $secondary-color;
    }
  }

  &.close-sidebar {
    .wrapper {
      @include media($screen-desktop) {
        @include animation(wrapperSlide .6s forwards);
      }
    }

    .header,
    .footer {
      @include media($screen-desktop) {
        @include animation(sidebarSlide .5s forwards);
      }
    }
  }

  &.no-sidebar {
    .wrapper {
      @include media($screen-desktop) {
        left: 0;
      }
    }

    .header,
    .footer {
      @include media($screen-desktop) {
        left: -100%;
      }
    }
  }
}

@-webkit-keyframes sidebarSlide {
  100% { left: -100%; }
}
@keyframes sidebarSlide {
  100% { left: -100%; }
}

@-webkit-keyframes wrapperSlide {
  100% { left: 0; }
}
@keyframes wrapperSlide {
  100% { left: 0; }
}
