*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba($black-color, 0);
}

body {
  background-color: $base-background-color;
}

figure {
  margin: 0;
  padding: 0;
}

sup {
  font-size: .8em;
  position: relative;
  top: -.5em;
}

abbr {
  cursor: help;
}

.container,
.container-full {
  position: relative;
  padding: {
    left: $gutter;
    right: $gutter;
  };
}

.wrapper {
  margin: ($base-spacing*2) auto 0;
  @extend .container;

  @include media($screen-desktop) {
    margin-top: 0;
    max-width: ($screen-tablet - 100px);
    padding: ($base-spacing*2);
    transform: translateX(200px);
  }
}

.wrapper,
.header,
.footer {
  @include transition(all .3s $base-timing);
}

body.home .wrapper {
  @include translateX(0);
}

.error404 .page-title {
  @include font-size(62px);
}

.cat-404 {
  margin: $base-spacing 0;
}

body {
  &.no-sidebar,
  &.close-sidebar {
    .hanburg {
      span {
        @include rotate(180deg);

        &,
        &::before,
        &::after {
          background-color: $secondary-color;
        }

        &::before,
        &::after {
          width: 60%;
        }

        &::before {
          top: 0;
          @include transform(translateY(8px) rotate(35deg));
        }

        &::after {
          bottom: 0;
          @include transform(translateY(-8px) rotate(-35deg));
        }
      }
    }

    @include media($screen-desktop) {
      .wrapper {
        @include translateX(0);
      }

      .header {
        @include translateX(-100%);
      }

      .footer {
        @include translateY(100%);
      }
    }
  }

  &.open-sidebar {
    @include media($screen-desktop) {
      .wrapper {
        @include translateX(200px);
      }

      .header {
        @include translateX(0);
      }

      .footer {
        @include translateY(0);
      }
    }
  }

  &.full-video .wrapper {
    @include media($screen-desktop) {
      max-width: 80%;
      @include transform(none);
    }
  }
}
