
.menu-hanburg {
  top: 0;
  padding: 15px;
  position: fixed;
  z-index: 100;
}

.hanburg {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  @include transition(background-color .3s);

  &:focus {
    outline: none;
  }

  span {
    top: 23px;
    left: 5px;
    right: 5px;

    &,
    &::before,
    &::after {
      display: block;
      position: absolute;
      height: 4px;
      background-color: $white-color;
      @include transition(background-color .3s $base-timing, transform .3s $base-timing);
    }

    &::before,
    &::after {
      content: "";
      left: 0;
      width: 100%;
    }

    &::before {
      top: -10px;
      @include transform-origin(top left);
      @include transition(transform .3s, width .3s, top .3s);
    }

    &::after {
      bottom: -10px;
      @include transform-origin(bottom left);
      @include transition(transform .3s, width .3s, bottom .3s);
    }
  }

  &:hover span {
    &::before {
      top: -12px;
    }

    &::after {
      bottom: -12px;
    }
  }

  &.is-active span {
    @include rotate(180deg);

    &,
    &::before,
    &::after {
      background-color: $secondary-color;
    }

    &::before,
    &::after {
      width: 60%;
    }

    &::before {
      top: 0;
      @include transform(translateY(8px) rotate(35deg));
    }

    &::after {
      bottom: 0;
      @include transform(translateY(-8px) rotate(-35deg));
    }
  }

  @include media(max-width $screen-desktop) {
    display: none;
    visibility: hidden;
  }
}

.header {
  @extend %clearfix;
  background-color: darken($secondary-color, 2%);
  color: $white-color;
  padding: $small-spacing;
  text-align: center;
  overflow: hidden;
  position: relative;

  .svg-pattern {
    position: absolute;
  }

  .header-in {
    position: relative;
    z-index: 10;
  }

  @include media($screen-tablet) {
    padding: $base-spacing $small-spacing;
  }

  @include media($screen-desktop) {
    height: 100%;
    width: $header-medium-width;
    position: fixed;
    padding: $base-spacing;
    left: 0;
    top: 0;
  }

  @include media($screen-large-desktop) {
    padding: ($base-spacing * 3) ($base-spacing * 2);
    width: $header-large-width;
  }

  a {
    text-decoration: none;
    color: $white-color;
  }

  .author-thumb {
    margin: 0 0 $small-spacing 0;
    display: inline;
    width: 6.25em;

    @include animation-duration(.5s);
    @include animation-name(bounce-rotate);

    @include media($screen-desktop) {
      margin: 0 0 $base-spacing 0;
    }
  }

  h1 {
    font-family: $font-family-base;
    color: rgba($white-color, .5);
    line-height: 1.5;
    display: block;
    margin: 0 0 $small-spacing;
    font-weight: 400;

    @include font-size(22px);

    @include animation-duration(1s);
    @include animation-name(bounce-right);

    strong, em {
      color: rgba($white-color, .9);
    }

    strong {
      text-transform: uppercase;
    }

    @include media($screen-desktop) {
      @include font-size(20px);
      float: none;
    }

    @include media($screen-large-desktop) {
      @include font-size(26px);
    }
  }
}

.navbar {
  position: relative;
  list-style: none;
  padding: $small-spacing 0 ($small-spacing/2);
  margin: 0;

  @include media($screen-desktop) {
    padding: $small-spacing;
    width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    height: 2px;
    background-color: rgba($white-color, .6);
  }

  li {
    font-size: 1rem;
    margin: 0 .4em;
    padding: 0;

    @include media($screen-desktop) {
      margin: 0 0 .3em;
      display: block;
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
    }
  }

  li, a {
    display: inline-block;
  }

  a {
    padding: .6em;
    line-height: 1;
    color: rgba($white-color, .5);
    text-transform: uppercase;

    &,
    &:visited,
    &:hover,
    &:active {
      backface-visibility: hidden;
      position: relative;
      @include transition(color .4s $base-timing);
    }

    &:hover,
    &:focus,
    &:active {
      color: $white-color;
    }
  }

  .search span {
    display: none;

    @include media($screen-tablet) {
      display: inline-block;
    }
  }
}

.after {
  position: relative;

  &:after {
    content: "";
    @include transition(all .4s $base-timing);
    @include transform(translateX(-50%));
    backface-visibility: hidden;
    background: $white-color;
    position: absolute;
    height: 2px;
    width: 0;
    left: 50%;
    bottom: 0;
  }

  &:hover,
  &:focus,
  &:active {
    &:after {
      width: 100%;
    }
  }
}
